<div class=" pace-done">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <!-- pace pace-inactive 和 nav-container XXXX 是同级的-->

    <div class="nav-container navbar-fixed-top nav-sticky">
        <!-- 删掉了sub_navbar -->
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <!-- 这里吧button 和 icon-bar的内容删除了-->
                    <a class="navbar-brand" href="/">
                        <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fcnuijys9qj302f00q3yc.jpg" alt="Eberjey">
                    </a>
                </div>
                <ul class="navbar-nav navbar-icons">
                    <!-- 增加个人登陆等页面 -->

                    <% if !current_user %>
                    <li><%= link_to(content_tag(:i, '注册', class: 'fa fa-sign-in'), new_user_registration_path) %></li>
                    <li><%= link_to(content_tag(:i, '登入', class: 'fa fa-sign-in'), new_user_session_path) %></li>
                <% else %>
                    <li class='dropdown'>
                        <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
                            Hi!,
                            <%= current_user.email %>
                            <b class='caret'></b>
                        </a>
                        <ul class='dropdown-menu'>
                            <% if current_user.admin?%>
                            <li><%= link_to('Admin 选单', admin_products_path) %></li>
                            <% end %>
                            <li><%= link_to('个人订单列表',account_orders_path) %></li>
                            <li><%= link_to(content_tag(:i,'登出',class:'fa fa-sign-out'), destroy_user_session_path, method: :delete) %></li>
                        </ul>
                    </li>
                    <% end %>
                    <!-- 完  增加个人登陆等 -->
                    <li class="shopping-cart">
                        <a href="#!" class="li-icon" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </a>
                    </a>
                    <ul class="dropdown-menu"></ul>
                    <!-- 删除了购物车下拉菜单，但没找到显示购物车和搜索icon的方法-->
                </li>
                <li>
                    <a href="#!" class="li-icon" id="trigger-overlay">
                        <i class="fa fa-share" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

            <!-- 这里是home那一部分的开始菜单-->
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li >
                        <a href="/products" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">ALL PRODUCTS
                            <i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <!--这里的dropdown-menu好像没有在css里做定义，是购物车下拉单里用过的-->
                            <li>
                                <a href="/products">SALE</a>
                            </li>
                            <li>
                                <a href="/products">WHAT'S NEW</a>
                            </li>
                            <li>
                                <a href="/products">BEST SELLERS</a>
                            </li>
                            <!-- <li><a href="index-4.html#instagram">BEST SELLERS</a></li> -->
                        </ul>
                    </li>
                    <!-- 增加our shows页面 -->
                    <li class="active">
                        <%=link_to 'OUR SHOWS', ourshows_path %>
                        <span class='label'>HOT!</span>
                    </li>
                    <!-- 完/增加our shows页面 -->
                    <li>
                        <a href="#!" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">GIFT GUIDE
                            <i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">FOR YOUR LOVER</a>
                            </li>
                            <li>
                                <a href="#">FOR YOUR BFF</a>
                            </li>
                            <li>
                                <a href="#">FOR YOUR MOM</a>
                            </li>
                            <li>
                                <a href="#">FOR YOUR SISTER</a>
                            </li>
                            <li>
                                <a href="#">...</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#!" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">INTIMATES
                            <i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">BARS</a>
                            </li>
                            <li>
                                <a href="#">BODYSUITS</a>
                            </li>
                            <li>
                                <a href="#">SLIPS</a>
                            </li>
                            <li>
                                <a href="#">PANTIES</a>
                            </li>
                            <!-- <li><a href="order-tracking.html">OTHERS</a></li> -->
                        </ul>
                    </li>
                    <li>

                    <li>
                        <a href="#!" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">LOOKBOOKS
                            <i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">HOLIDAY 2017</a>
                            </li>
                            <li>
                                <a href="#">FALL 2016</a>
                            </li>
                            <li>
                                <a href="#">PRE-FALL 2016</a>
                            </li>
                            <!-- <li><a href="faqs.html">FAQ'S</a></li> -->
                        </ul>
                    </li>
                    <!-- <li><a href="about.html">About</a></li> -->
                    <!-- <li><a href="contact.html">Contact</a></li> -->
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container -->
    </nav>
</div>
<!-- /.nav-container -->
